div {
  height: 100px;
  width: 100px
}

.red {
  background-color: red;
  display: inline-block;
  position: relative;
  left: 210px;

}
.blue {
  background-color: blue;
  display: inline-block;
  right: 100px;
  position: relative;
}
.yellow {
  background-color: yellow;
  display: inline-block;
  position: relative;
  right: 100px;
}
